# Text mining and Image Recognition: Hoja de Trabajo 3
#### Ruben Gonzalez 20003314

In [1]:
import re

#### Problema 1:
Utilice expresiones regulares para validar las siguintes situaciones:

1. Implemente una regex para validar un correo electronico en general, a continuacion se muestran algunos ejemplos.
    * Guate.360-porelmundo@miguate.com
    * Miercoles3@hotmail.com
    * Progra3.galileo@galileo.edu

In [2]:
def aplicarRegExp(regexp, texto):
    x= re.search(regexp,texto)
    if x == None:
        return False
    return True

In [3]:
regExp = "^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.([a-zA-Z]{2,4})+$"

In [4]:
print(aplicarRegExp(regExp,"Guate.360-porelmundo@miguate.com"))
print(aplicarRegExp(regExp,"Miercoles3@hotmail.com"))
print(aplicarRegExp(regExp,"Progra3.galileo@galileo.edu"))
print(aplicarRegExp(regExp,"Progra3.g@lileo@galileo.edu"))

True
True
True
False

2. implemente una regex para validar la direccion url de una pagina web con los tipos de domino (.com, .org, .edu). Note que la url incluye el protocolo (http o https) y los simbolos (//www.), a continuacion se muestran algunos ejemplos:
    * https://www.guate360-porelmundo.com
    * http://www.a2.net
    * https://www.galileo.edu
    * http://www.8.org (No valida)

In [5]:
regExp2 = "^(http)(s|)://www.[a-zA-Z][a-zA-Z0-9.-]*.([a-zA-Z]{2,4})+$"

In [6]:
print(aplicarRegExp(regExp2,"https://www.guate360-porelmundo.com"))
print(aplicarRegExp(regExp2,"http://www.a2.net"))
print(aplicarRegExp(regExp2,"https://www.galileo.edu"))
print(aplicarRegExp(regExp2,"http://www.8.org"))

True
True
True
False

3. Implemente una regex para validar una MAC Address, notar que las mac addres estan divididas en 6 bloques de caracteres hexadecimales, es decir que los simbolos solo pueden variar del 0 al 9 y las letras de la A a la F. a continuacion se muestran algunos ejemplos:
    * 5A 6F AF 8C 9B 1D
    * 6D 6C 4D 3A EB 3F
    * 3A 7C FA C8 6D 4J (no valida por que el ultimo bloque contiene una J)

In [7]:
regExp3 = "^([0-9A-F]{2}\s){5}[0-9A-F]{2}$"

In [8]:
print(aplicarRegExp(regExp3,"5A 6F AF 8C 9B 1D"))
print(aplicarRegExp(regExp3,"6D 6C 4D 3A EB 3F"))
print(aplicarRegExp(regExp3,"3A 7C FA C8 6D 4J"))

True
True
False

4. Implemente una regex para validar una direccion IPv4, notar que las direcciones IPv4 estan divididas en 4 bloques de valores los cuales solo pueden ir desde 0 hasta 255, una ip donde algunos de sus bloques sea mayor a 255 no es valida, ademas tome en cuenta que cada bloque esta separada por un punto. A continuacion se muestran algunos ejemplos:
    * 192.16.8.1
    * 234.56.78.90
    * 1.2.3.4
    * 192.168.45.345 (no valida por que el ultimo bloque es mayor a 255)

In [9]:
regExp4 = "^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)){3}$"

In [10]:
print(aplicarRegExp(regExp4,"192.16.8.1"))
print(aplicarRegExp(regExp4,"234.56.78.90"))
print(aplicarRegExp(regExp4,"1.2.3.4"))
print(aplicarRegExp(regExp4,"192.168.45.345"))

True
True
True
False

5. Implemente una regex para validar una fecha con la secuencia dia-mes-año donde el dia, mes y año puedan estar separados ya sea por el caracter / o el caracter - o el caracter ., notar que las fechas son validas si los si los dias estan definidos desde el 1 al 31, el mes del 1 al 12 y el año de 2000 al 2019. Tambien debe tomar en cuenta que los dias y meses pueden estar escritos ya sea con uno o dos caracteres por ejemplo: Enero puede escribirse como 1 o como 01. Los años tambien pueden expresarse ya sea con dos o con cuatro caracteres por ejemplo: 19 o 2019 son validos. A continuacion se muestran algunos ejemplos:

    * 20/1/2019
    * 12.03.2005
    * 31-11-08
    * 1-1-2012
    * 12-12-22 (no valida, por que el a~no supera al 2019).

In [11]:
regExp5 = "^([1|2][0-9]|[3][0-1]|[0]?[1-9])(\/|\-|\.)([1][0-2]|[0]?[1-9])(\/|\-|\.)((20)?[0-1][0-9])$"

In [12]:
print(aplicarRegExp(regExp5,"20/1/2019"))
print(aplicarRegExp(regExp5,"12.03.2005"))
print(aplicarRegExp(regExp5,"31-11-08"))
print(aplicarRegExp(regExp5,"1-1-2012"))
print(aplicarRegExp(regExp5,"12-12-22"))

True
True
True
True
False

#### Problema 2:
En la carpeta encontrara adjuntos 21 documentos que tiene 100 fechas en la secuencia dias-mes-año pero con distinto separador y distinto formato de mes, en algunos casos aparece un numero y en otros el nombre del mes en ingles, por ejemplo: Enero pueder aparecer como 1 o como Jan.

Utilice Python y expresiones regulares para encontrar el dia, mes y año promedio total del los 21 archivos, los resultados deben ser un double.

In [13]:
import pandas as pd
import numpy as np
import datetime

In [14]:
def simboloUsar(texto):
    regExpPunto = "^([1|2][0-9]|[3][0-1]|[0]?[1-9])(\.)(([1][0-2]|[0]?[1-9])|(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec))(\.)((20)?[0-1][0-9])$"
    regExpGuion = "^([1|2][0-9]|[3][0-1]|[0]?[1-9])(\-)(([1][0-2]|[0]?[1-9])|(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec))(\-)((20)?[0-1][0-9])$"
    regExpSlash = "^([1|2][0-9]|[3][0-1]|[0]?[1-9])(\/)(([1][0-2]|[0]?[1-9])|(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec))(\/)((20)?[0-1][0-9])$"
    
    Punto = aplicarRegExp(regExpPunto,texto)
    Guion = aplicarRegExp(regExpGuion,texto)
    Slash = aplicarRegExp(regExpSlash,texto)
    
    if Punto == True:
        return "."
    elif Guion == True:
        return "-"
    elif Slash == True:
        return "/"

In [15]:
def EsMesTexto(texto):
    regExpMes = "^(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)$"
    return aplicarRegExp(regExpMes,texto)

In [16]:
def CambiarMesANumero(SeriePanda):
    mesNum = []
    for i in range (0,SeriePanda.shape[0]):
        datetime_object = datetime.datetime.strptime(SeriePanda[i], "%b")
        mesNum.append(datetime_object.month)
    Salida = pd.Series(np.array(mesNum,dtype = str))
    return Salida

In [17]:
Total = pd.DataFrame()
for j in range(1,22):
    texto = pd.read_csv("Datos\D"+str(j)+".txt", names = ["Fechas"])
    simbolo = simboloUsar(texto["Fechas"][0])
    Segmentado=texto["Fechas"].str.split(pat=simbolo, expand = True)
    if EsMesTexto(Segmentado[1][0]):
        numMes=CambiarMesANumero(Segmentado[1])
        Segmentado[1]=numMes
    if j ==1:
        Total=Segmentado.copy()
    else:
        Total = Total.append(Segmentado)
Total = Total.astype('int32')
Total = Total.rename({0: 'Dia', 1: 'Mes', 2: 'Año'}, axis='columns')
Total

     Dia  Mes   Año
0     23    2  2017
1     21   11  2016
2     12    2  2017
3      6    6  2016
4      4    5  2018
..   ...  ...   ...
995   14    9  2017
996    9    1  2019
997    2    8  2018
998   17    5  2018
999   10    2  2017

[21000 rows x 3 columns]

In [18]:
#Promedios calculados
Total.mean(axis=0)

Dia      15.624762
Mes       6.466476
Año    2016.686905
dtype: float64

#### Problema 3
Descargue el Dataset el cual contiene aproximadamente 800,000tweets de diversos temas.

Usando CoLab y expresiones regulares. Determine los 3 usuarios mas populares dentro del dataset. Luego arme un corpus el cual contenga los siguientes elementos por cada usuario seleccionado:

Content: Tweet.
Metadata: ID, Timestamp, Length (este valor hay que calcularlo).

In [75]:
tweets = pd.read_csv("tw_source.csv", names = ["No","ID","Timestamp","No_Query","User","Tweet"], encoding = 'latin-1')
tweets.head(15)

,No,ID,Timestamp,No_Query,User,Tweet
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
5,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew
6,0,1467811592,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,mybirch,Need a hug
7,0,1467811594,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,coZZ,@LOLTrish hey long time no see! Yes.. Rains a...
8,0,1467811795,Mon Apr 06 22:20:05 PDT 2009,NO_QUERY,2Hood4Hollywood,@Tatiana_K nope they didn't have it
9,0,1467812025,Mon Apr 06 22:20:09 PDT 2009,NO_QUERY,mimismo,@twittera que me muera ?
10,0,1467812416,Mon Apr 06 22:20:16 PDT 2009,NO_QUERY,erinx3leannexo,spring break in plain city... it's snowing
11,0,1467812579,Mon Apr 06 22:20:17 PDT 2009,NO_QUERY,pardonlauren,I just re-pierced my ears
12,0,1467812723,Mon Apr 06 22:20:19 PDT 2009,NO_QUERY,TLeC,@caregiving I couldn't bear to watch it. And ...
13,0,1467812771,Mon Apr 06 22:20:19 PDT 2009,NO_QUERY,robrobbierobert,"@octolinz16 It it counts, idk why I did either..."
14,0,1467812784,Mon Apr 06 22:20:20 PDT 2009,NO_QUERY,bayofwolves,"@smarrison i would've been the first, but i di..."

In [76]:
tweets["Taggeado"] = tweets["Tweet"].str.extract(pat = '(@[a-zA-Z0-9-_]+)')
tweets.head(15)

,No,ID,Timestamp,No_Query,User,Tweet,Taggeado
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",@switchfoot
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,NaN
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,@Kenichan
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,NaN
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....",@nationwideclass
5,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew,@Kwesidei
6,0,1467811592,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,mybirch,Need a hug,NaN
7,0,1467811594,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,coZZ,@LOLTrish hey long time no see! Yes.. Rains a...,@LOLTrish
8,0,1467811795,Mon Apr 06 22:20:05 PDT 2009,NO_QUERY,2Hood4Hollywood,@Tatiana_K nope they didn't have it,@Tatiana_K
9,0,1467812025,Mon Apr 06 22:20:09 PDT 2009,NO_QUERY,mimismo,@twittera que me muera ?,@twittera
10,0,1467812416,Mon Apr 06 22:20:16 PDT 2009,NO_QUERY,erinx3leannexo,spring break in plain city... it's snowing,NaN
11,0,1467812579,Mon Apr 06 22:20:17 PDT 2009,NO_QUERY,pardonlauren,I just re-pierced my ears,NaN
12,0,1467812723,Mon Apr 06 22:20:19 PDT 2009,NO_QUERY,TLeC,@caregiving I couldn't bear to watch it. And ...,@caregiving
13,0,1467812771,Mon Apr 06 22:20:19 PDT 2009,NO_QUERY,robrobbierobert,"@octolinz16 It it counts, idk why I did either...",@octolinz16
14,0,1467812784,Mon Apr 06 22:20:20 PDT 2009,NO_QUERY,bayofwolves,"@smarrison i would've been the first, but i di...",@smarrison

In [79]:
tweets.shape

(1600000, 7)

In [80]:
SoloTaggeados = tweets.dropna()
del SoloTaggeados["No_Query"]
SoloTaggeados.head(15)

,No,ID,Timestamp,User,Tweet,Taggeado
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",@switchfoot
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,mattycus,@Kenichan I dived many times for the ball. Man...,@Kenichan
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,Karoli,"@nationwideclass no, it's not behaving at all....",@nationwideclass
5,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,joy_wolf,@Kwesidei not the whole crew,@Kwesidei
7,0,1467811594,Mon Apr 06 22:20:03 PDT 2009,coZZ,@LOLTrish hey long time no see! Yes.. Rains a...,@LOLTrish
8,0,1467811795,Mon Apr 06 22:20:05 PDT 2009,2Hood4Hollywood,@Tatiana_K nope they didn't have it,@Tatiana_K
9,0,1467812025,Mon Apr 06 22:20:09 PDT 2009,mimismo,@twittera que me muera ?,@twittera
12,0,1467812723,Mon Apr 06 22:20:19 PDT 2009,TLeC,@caregiving I couldn't bear to watch it. And ...,@caregiving
13,0,1467812771,Mon Apr 06 22:20:19 PDT 2009,robrobbierobert,"@octolinz16 It it counts, idk why I did either...",@octolinz16
14,0,1467812784,Mon Apr 06 22:20:20 PDT 2009,bayofwolves,"@smarrison i would've been the first, but i di...",@smarrison
15,0,1467812799,Mon Apr 06 22:20:20 PDT 2009,HairByJess,@iamjazzyfizzle I wish I got to watch it with ...,@iamjazzyfizzle
18,0,1467813579,Mon Apr 06 22:20:31 PDT 2009,starkissed,@LettyA ahh ive always wanted to see rent lov...,@LettyA
19,0,1467813782,Mon Apr 06 22:20:34 PDT 2009,gi_gi_bee,@FakerPattyPattz Oh dear. Were you drinking ou...,@FakerPattyPattz
20,0,1467813985,Mon Apr 06 22:20:37 PDT 2009,quanvu,@alydesigns i was out most of the day so didn'...,@alydesigns
22,0,1467814119,Mon Apr 06 22:20:40 PDT 2009,cooliodoc,@angry_barista I baked you a cake but I ated it,@angry_barista

In [108]:
#obtener los 3 usuarios mas taggeados
Repetidos = SoloTaggeados["Taggeado"].value_counts()[0:3].keys().tolist()
Repetidos

['@mileycyrus', '@tommcfly', '@ddlovato']

In [126]:
#Obtenemos solo comentarios con esos 3 usuarios taggeados
Filtro3 = SoloTaggeados[SoloTaggeados["Taggeado"].isin(Repetidos)]
Filtro3["Length"] = Filtro3["Tweet"].str.len()
Filtro3

C:\Users\ruben\AppData\Local\Continuum\anaconda3\envs\Galileo-Python\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,No,ID,Timestamp,User,Tweet,Taggeado,Length
460,0,1467929230,Mon Apr 06 22:51:34 PDT 2009,toritor11,@ddlovato @David_Henrie ummmmm i cant find it.,@ddlovato,47
573,0,1467953367,Mon Apr 06 22:58:30 PDT 2009,lovatolover,@ddlovato Do you hate us?? Please don't,@ddlovato,40
1021,0,1468063101,Mon Apr 06 23:30:57 PDT 2009,kristenn_lynn,@mileycyrus hahaha dont be like that one time ...,@mileycyrus,107
1690,0,1468210813,Tue Apr 07 00:19:09 PDT 2009,mcsteph94,@tommcfly hey saw u guys play @ pushover..didn...,@tommcfly,138
1789,0,1468233211,Tue Apr 07 00:26:52 PDT 2009,mcflyholland,@tommcfly Good morning Tom! Why can't I send y...,@tommcfly,131
...,...,...,...,...,...,...,...
1597053,4,2192836467,Tue Jun 16 07:37:16 PDT 2009,rosiebasketcase,@tommcfly Heya Tom! You should follow Peter Fa...,@tommcfly,102
1597905,4,2193052811,Tue Jun 16 07:55:55 PDT 2009,LizzMartin,@mileycyrus i see the photos of your KISS iss ...,@mileycyrus,74
1598348,4,2193155701,Tue Jun 16 08:04:20 PDT 2009,lucyannedixon,@mileycyrus i am definitley definitley getting...,@mileycyrus,139
1599235,4,2193400885,Tue Jun 16 08:24:29 PDT 2009,pauwlo7,@mileycyrus well hello miley hows life as a...,@mileycyrus,114
1599256,4,2193401957,Tue Jun 16 08:24:35 PDT 2009,Saraaah_A,@ddlovato i just voted for you and i've drawn ...,@ddlovato,104

(11330, 6)